
################ MUST EXCLUDE LIST ############################

### exclude application.yml - it includes mysql credentials
src/main/resources/application.yml
### exclude s3 credentials ###
src/main/resources/s3.yml
### jwt secret ###
src/main/resources/jwt.yml
### firebase sdk ###
src/main/resources/firebase-adminsdk.json

###############################################################

### Local File upload ###
files/

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/